.cart-container {
    position: absolute;
    margin-left: 120px;

}

.cart-container ul{
    width: max-content;
    /* border: 1px solid white; */
    color: white;
    background: rgba(0, 0, 0, 0.7);
    /* border-radius: 10px; */
    display: flex;
    margin-top: 20px;
    /* margin-right: -100px; */
    flex-direction: column;
}
.cart-container ul li {
    /* padding-left: 20px;
    padding-right: 10px;
    padding-top: 13px; */
    padding: 10px;
    font-size: 14px;
    width: 100%;
    height: 50px;
    border: 1px solid white;
}

/* .cart-container h4 {
    margin-top: 237px;
    margin-left: -250px;
    z-index: 1;
    border: 1px solid red;
    background: linear-gradient(to right, #ff0000, #1d1b1bde);
    color: white;
    border-radius: 15px 50px 30px 0px;
    padding: 5px 40px 5px 5px;
    position: absolute;
} */


.checkout-btn {
    /* margin-top: 270px;
    margin-left: -250px;
    border: none;
    width: 312px;
    height: 40px;
    background: rgb(42, 169, 42);
    font-size: 19px;
    color: white;
    padding:5px ;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; */
    /* position: absolute; */
}