@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica neue", serif;
  /* font-family: "Proxima nova", serif; */
  /* background-color: rgb(12, 97, 63); */
}
